<!--カテゴリがあったら削除を表示、無かったらフォームを表示-->
<%= form_with model: book, url: book_path(book.id) do |f| %>
  <% if book.category.present? %>
    <%= link_to book.category, books_category_search_path(keyword: book.category) %>
    <%= f.hidden_field :category, :value => nil %>
    <%= f.submit "削除", class: "btn btn-outline-danger btn-sm" %>
    <% else %>
    <div class="input-group">
    <%= f.text_field :category, placeholder: "カテゴリを入力" %>
    <%= f.submit "登録", class: "btn btn-outline-primary btn-sm" %>
    </div>
  <% end %>
<% end %>