<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>表紙</th>
            <th>タイトル</th>
            <th>著者</th>
            <th>出版社</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% if @books.present? %>
        <% @books.each do |book| %>
          <tr>
            <td><%= link_to (image_tag(book.large_image_url, size: '100x120')), book.item_url %></td>
            <td><%= link_to (book.title), book.item_url %></td>
            <td>
                <!--bookにauthorクラス(ハッシュでは無い)があった場合に実行-->
                <% if book.respond_to?(:author) %>
                  <%= book.author %>
                <% end %>
            </td>

            <td>
                <!--bookにpublisher_nameクラス(ハッシュでは無い)があった場合に実行-->
                <% if book.respond_to?(:publisher_name) %>
                  <%= book.publisher_name %>
                <% end %>
            </td>
            <td>
              <%= form_with model: @book, url: books_path, method: :post do |f| %>
              <%= f.hidden_field :image, :value => book.large_image_url %>
              <%= f.hidden_field :title, :value => book.title %>
              <% if book.respond_to?(:author) %>
                <%= f.hidden_field :author, :value => book.author %>
              <% end %>
              <% if book.respond_to?(:publisher_name) %>
                <%= f.hidden_field :publisher, :value => book.publisher_name %>
              <% end %>
              <%= f.hidden_field :salesdate, :value => book.sales_date %>
              <%= f.hidden_field :caption, :value => book.item_caption %>
              <%= f.select :read_st, [['読みたい',false], ['読んだ',true]] %><%= f.submit "に追加する", class: "btn btn-success" %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>